*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.img-container {
    position: relative;

}

img {
    position: absolute;
    width: 500px;
    height: 350px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
}