@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}


.grid-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.circle {
    outline: solid 2px lightblue;
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: outline, opacity 250ms ease-in;
}

.color-option {
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.blue {
    background-color: rgb(40, 194, 255);
}

.white {
    background-color: rgb(235, 235, 235);
}

.black {
    background-color: rgb(22, 22, 22);
}

.circle:hover {
    cursor: pointer;
    
}

.circle:active {
    transition: none;
    opacity: 85%;
}

.selected-option {
    transition: outline 100ms ease;
    outline: solid 3px blue;
}

.constructor {
    background: rgb(233, 233, 233);   
    margin-top: 10vh;
    padding: 1rem;
    border-radius: 30px;
}

.constructor h1 {
    font-size: 3rem;
}

.constructor > p, h1 {
    font-size: 2rem;
    text-align: center;
}
.wrapper-constructor {
    height: 95vh;
    width: 1fr;
    overflow: scroll;
}

.logo {
    margin: 2rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 8vh;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    z-index: 0;
    overflow: hidden;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

}

.primary-navigation > li > div > img {
    width: 50px;
    height: 50px;
}

.language-button {
    margin-right: 2rem;
}

.language-button:hover {
    cursor: pointer;
    opacity: 90%;
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

.language-button:active {
    opacity: 75%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}