@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.circle {
    outline: solid 2px lightblue;
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: outline, opacity 250ms ease-in;
}

.color-option {
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.blue {
    background-color: rgb(40, 194, 255);
}

.white {
    background-color: rgb(235, 235, 235);
}

.black {
    background-color: rgb(22, 22, 22);
}

.circle:hover {
    cursor: pointer;
    outline: solid 2px rgb(110, 190, 216);
    
}

.circle:active {
    transition: none;
    opacity: 85%;
}

.constructor {
    background: #ddd;   
    height: 500vh;
}

.constructor > p {
    font-size: 2rem;
    text-align: center;
}
.wrapper-constructor {
    height: 100vh;
    width: 1fr;
    overflow: auto;
}